---
import "core-js/actual/object/group-by";
import { findBestMatch } from "string-similarity";

import episodes from "@/lib/episodes.json";
import Layout from "@/layouts/Layout.astro";
import VideoHeader from "@/components/VideoHeader.astro";
import VideoSlider from "@/components/VideoSlider.astro";

const { slug } = Astro.params;
if (!slug) return;

const titles = episodes.map(({ title }) => title.toLowerCase());
const { target } = findBestMatch(slug, titles).bestMatch;
const current_episode = episodes.find(
  ({ title }) => title.toLowerCase() === target
);
const seasons_object = Object.groupBy(episodes, ({ season }) => season);
const seasons = Object.values(seasons_object).reverse();
---

<Layout
  title={current_episode && current_episode.title}
  description={current_episode && current_episode.description}
  image={current_episode && current_episode.image}
>
  <div class="bg-black text-gray-50">
    <div class="bg-knc-blue/40 pb-10">
      <VideoHeader data={current_episode} />
      {seasons.map((season) => <VideoSlider data={season} />)}
    </div>
  </div>
</Layout>
