@import "tailwindcss";

@theme {
  --color-knc-red: #e5311f;
  --color-knc-blue: #102133;
  --color-knc-dark: #060d14;

  --font-sans: "Clash Display Variable", sans-serif;
}

:root {
  @apply scroll-smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--color-knc-red) var(--color-knc-dark);
}

.shopify-buy-frame--toggle {
  @apply shadow shadow-black/50 outline-none !z-40;
}
