@import "tailwindcss";

@theme {
  --color-knc-red: #e3321f;
  --color-knc-blue: #0f1e30;
  --color-knc-dark: #070a0c;

  --font-sans: "Inter Variable", sans-serif;
  --font-title: "Recoleta", sans-serif;
}

:root {
  @apply scroll-smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--color-knc-red) var(--color-knc-dark);
}
