---
import Product from "@/components/Product.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const { id } = Astro.params;
const storeCollection = await getCollection("store");
const product = storeCollection.find((item) => item.id === id);

if (!product) return Astro.redirect("/tienda");
const { productId } = product.data;
---

<Layout
  title="Tienda"
  description="Proximamente en la tienda oficial KNC Store, podrás encontrar camisetas, tote bags, láminas, stickers, fondos de pantalla y más."
>
  <section
    class="text-knc-dark flex flex-1 flex-col items-center justify-center bg-white px-14 pt-[128px] pb-48"
  >
    <div class="flex w-full flex-col items-center border-t border-black p-6 min-h-svh">
      <Product productId={productId} />
    </div>
  </section>
</Layout>
