---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
import LastEpisode from "@/sections/LastEpisode.astro";
import Podcast from "@/sections/Podcast.astro";
import Shorts from "@/sections/Shorts.astro";
import Us from "@/sections/Us.astro";
import Collaborate from "@/sections/Collaborate.astro";
---

<Layout
  title="Kncelados | Un podcast de torerías varias"
  description="Un podcast de torerías varias. Quizá no aprendes nada, pero seguro que te ríes un rato. Mira nuestros últimos videos descubre nuestro equipo sin filtros."
>
  <main class="flex w-full flex-col items-center">
    <Welcome />
    <LastEpisode />
    <Podcast />
    <Shorts />
    <Us />
    <Collaborate />
  </main>
</Layout>
