---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
import NextEpisode from "@/sections/NextEpisode.astro";
import Podcast from "@/sections/Podcast.astro";
import LastVideos from "@/sections/LastVideos.astro";
import Shorts from "@/sections/Shorts.astro";
import Us from "@/sections/Us.astro";
import Collaborate from "@/sections/Collaborate.astro";
import Book from "@/sections/Book.astro";
---

<Fragment slot="head">
  <link rel="preload" href="/kncelados-podcast.jpg" as="image" />
</Fragment>

<Layout
  title="Kncelados | Un podcast de tonterías varias"
  description="Un podcast de tonterías varias. Quizá no aprendes nada, pero seguro que te ríes un rato. Mira nuestros últimos videos descubre nuestro equipo sin filtros."
>
  <main class="flex w-full flex-col items-center">
    <Welcome />
    <NextEpisode />
    <Book />
    <Podcast />
    <LastVideos />
    <Shorts />
    <Us />
    <Collaborate />
  </main>
</Layout>
