---
import Layout from "@/layouts/Layout.astro";
import SectionWelcome from "@/components/SectionWelcome.astro";
import SectionLastVideos from "@/components/SectionLastVideos.astro";
import Reveal from "@/components/Reveal.astro";
---

<Layout
  title="kncelados | el f̶a̶k̶e̶pod"
  description="Adéntrate en nuestro caos de risas con el f̶a̶k̶e̶pod más irreverente. Últimos videos que queman y un equipo sin filtros. ¡Encuéntranos en todas partes y participa!"
>
  <main class="flex flex-col items-center w-full">
    <SectionWelcome />
    <SectionLastVideos />
    <Reveal>
      <h2 class="max-w-2xl text-4xl font-semibold leading-tight py-48">
        Adéntrate en nuestro caos de risas con el f̶a̶k̶e̶pod más irreverente.
        Últimos videos que queman y un equipo sin filtros.
        <br /><br />
         ¡Encuéntranos en todas partes y participa!
      </h2>
    </Reveal>
  </main>
</Layout>
