---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="grid place-content-center h-screen">
    <h1 class="text-4xl font-semibold">Próximamente</h1>
  </main>
</Layout>
