---
import Layout from "@/layouts/Layout.astro";
import NextEpisode from "@/sections/NextEpisode.astro";
import Welcome from "@/sections/Welcome.astro";
---

<Layout
  title="Kncelados | Un podcast de tonterías varias"
  description="Un podcast de tonterías varias. Quizá no aprendes nada, pero seguro que te ríes un rato. Mira nuestros últimos videos descubre nuestro equipo sin filtros."
>
  <main class="bg-knc-dark flex min-h-[300vh] w-full flex-col items-center">
  </main>
  <Welcome />
  <NextEpisode />
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  function startAnimation() {
    gsap.to("#container", {
      opacity: 1,
      duration: 2,
      ease: "power2.out",
      delay: 0.5,
    });

    gsap.to("#hero-bg", {
      scale: 1.25,
      opacity: 1,
      duration: 1,
      ease: "power2.out",
      delay: 0.5,
    });

    const tl = gsap.timeline({
      ease: "power2.out",
      scrollTrigger: {
        scrub: 1,
      },
    });

    tl.to("#hero-bg", {
      scale: 1,
      duration: 1,
    })
      .to(
        "#play-button",
        {
          opacity: 0,
          duration: 0.05,
        },
        "<"
      )
      .to(
        "#keep-scrolling",
        {
          opacity: 0,
          duration: 0.05,
        },
        "<"
      )
      .to(
        "#hero-bg",
        {
          opacity: 0,
        },
        "<"
      )
      .to(
        "#full-logo",
        {
          opacity: 0,
        },
        "<"
      )
      .to(
        "#logo-mask",
        {
          backgroundColor: "var(--color-knc-red)",
          maskSize: "12vh",
        },
        "<"
      )
      .to(
        "#next-episode",
        {
          maskImage:
            "radial-gradient(circle at bottom, black 50%, transparent 100%)",
          pointerEvents: "auto",
          duration: 0.05,
        },
        "<0.45"
      );
  }

  window.addEventListener("load", startAnimation);
</script>
