---
import Layout from "@/layouts/Layout.astro";
import Logo from "@/icons/Logo.astro";
import Card from "@/components/Card.astro";

import { videos } from "@/lib/videos";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center w-full">
    <section
      class="relative flex flex-col gap-8 items-center h-screen bg-gradient-to-tr from-knred to-knred/90 w-full overflow-hidden p-4"
    >
      <span class="mt-32">
        <Logo />
      </span>

      <article class="flex flex-col items-center">
        <h1 class="font-title text-4xl">Próximamente</h1>
        <p class="text-xl">Se vienen cositas...</p>
      </article>

      <picture id="rup" class="absolute bottom-[-8%] left-[-15%]"></picture>

      <picture id="joz" class="absolute bottom-[-16%] left-[10%] z-10">
      </picture>

      <picture id="dani" class="absolute bottom-[-16%] right-[10%] z-10">
      </picture>

      <picture id="ander" class="absolute bottom-[-8%] right-[-15%]"></picture>
    </section>

    <section class="flex flex-wrap max-w-7xl gap-8 px-4 py-32">
      {videos.map((video) => <Card {...video} />)}
    </section>
  </main>
</Layout>

<style>
  picture {
    width: 856px;
    height: 576px;
    background-position: 0 0;
  }

  picture:hover {
    animation: gif 2s steps(1, end) infinite;
  }

  #rup {
    background-image: url("/joz-sprite.png");
  }
  #joz {
    background-image: url("/joz-sprite.png");
  }
  #dani {
    background-image: url("/joz-sprite.png");
    transform: rotateY(180deg);
  }
  #ander {
    background-image: url("/joz-sprite.png");
    transform: rotateY(180deg);
  }

  @keyframes gif {
    25% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 100%;
    }
    75% {
      background-position: 100% 100%;
    }
  }
</style>
