---
import Layout from "@/layouts/Layout.astro";
import SectionWelcome from "@/components/SectionWelcome.astro";
import SectionLastVideos from "@/components/SectionLastVideos.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center w-full">
    <SectionWelcome />
    <SectionLastVideos />
  </main>
</Layout>
