---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
---

<Layout
  title="Kncelados | Un podcast de tonterías varias"
  description="Un podcast de tonterías varias. Quizá no aprendes nada, pero seguro que te ríes un rato. Mira nuestros últimos videos descubre nuestro equipo sin filtros."
>
  <main class="flex min-h-[500vh] w-full flex-col items-center">
    <Welcome />
  </main>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    ease: "power2.out",
    scrollTrigger: {
      scrub: 1,
    },
  });

  tl.to("#hero-video", {
    scale: 1,
    duration: 1,
  })
    .to(
      "#play-button",
      {
        opacity: 0,
      },
      "<"
    )
    .to(
      "#logo-mask",
      {
        maskSize: "clamp(20vh, 25%, 30vh)",
      },
      "<"
    );
</script>
