---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
---

<Layout
  title="KNCELADOS | El fakepod"
  description="Adéntrate en nuestro caos de risas con el f̶a̶k̶e̶pod más irreverente. Últimos videos que queman y un equipo sin filtros. ¡Encuéntranos en todas partes y participa!"
>
  <main class="flex flex-col items-center w-full">
    <Welcome />
  </main>
</Layout>
