---
import KncFull from "@/lib/assets/KncFull.astro";
import KncOutline from "@/lib/assets/KncOutline.astro";
---

<div
  class="pointer-events-none fixed inset-0 -z-10 flex justify-evenly opacity-20"
>
  <span class="h-full w-px bg-gray-400"></span>
  <span class="h-full w-px bg-gray-400"></span>
  <span class="h-full w-px bg-gray-400"></span>
  <span class="h-full w-px bg-gray-400"></span>
  <span class="h-full w-px bg-gray-400"></span>
  <span class="h-full w-px bg-gray-400"></span>
  <span class="h-full w-px bg-gray-400"></span>
</div>
