---
interface Props {
  url: string;
  id: string;
}

const { url, id } = Astro.props;
---

<blockquote
  class="tiktok-embed rounded-xl"
  cite={url}
  data-video-id={id}
  style="width: auto;"
>
  <section>
    <a
      target="_blank"
      title="@kncelados"
      href="https://www.tiktok.com/@kncelados?refer=embed">@kncelados</a
    > Que c*ño le tengo que preguntar??? <a
      title="parati"
      target="_blank"
      href="https://www.tiktok.com/tag/parati?refer=embed">#parati</a
    >
    <a
      title="humor"
      target="_blank"
      href="https://www.tiktok.com/tag/humor?refer=embed">#humor</a
    >
    <a
      title="fyp"
      target="_blank"
      href="https://www.tiktok.com/tag/fyp?refer=embed">#fyp</a
    >
    <a
      title="acertijo"
      target="_blank"
      href="https://www.tiktok.com/tag/acertijo?refer=embed">#acertijo</a
    >
    <a
      title="adivinanza"
      target="_blank"
      href="https://www.tiktok.com/tag/adivinanza?refer=embed">#adivinanza</a
    >
    <a
      target="_blank"
      title="♬ sonido original - Cancelados"
      href="https://www.tiktok.com/music/sonido-original-7302513827466611488?refer=embed"
      >♬ sonido original - Cancelados</a
    >
  </section>
</blockquote>
