---
interface Props {
  url: string;
  id: string;
}

const { url, id } = Astro.props;
---

<blockquote
  class="tiktok-embed rounded-xl border border-gray-200 p-2 shadow-xl overflow-hidden"
  cite={url}
  data-video-id={id}
  style="width: 320px; height: 744px"
>
  <section class="w-full text-center text-xl font-semibold p-4">Cargando video...</section>
</blockquote>
