---
import Logo from "@/icons/Logo.astro";
---

<span id="follow" class="hidden md:flex absolute w-48">
  <Logo />
</span>

<script>
  const welcome = document.querySelector("#bienvenidos");
  const follow = document.querySelector("#follow") as HTMLElement;

  welcome?.addEventListener("mousemove", (ev) => {
    const { pageX, pageY } = ev as MouseEvent;
    const { offsetWidth, offsetHeight } = follow;

    setTimeout(() => {
      follow.style.top = `${pageY - offsetHeight / 2}px`;
      follow.style.left = `${pageX - offsetWidth / 2}px`;
    }, 150);
  });
</script>

<style>
  #follow {
    animation: rotate 5s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
