---
import Iso from "@/lib/assets/Iso.astro";
---

<footer class="flex justify-center bg-knblue p-4">
  <div
    class="flex w-full max-w-5xl items-center justify-between p-2 text-gray-200"
  >
    <p class="text-sm">2024-2025. Algún derecho reservado.</p>
    <Iso class="size-6" />
  </div>
</footer>
