---
import Iso from "@/lib/assets/Iso.astro";

const { url } = Astro.request;
const isPodcast = url.includes("podcast");
---

<footer class="bg-knc-red p-3 text-knc-dark lg:px-20">
  <div class="flex items-center justify-between">
    <p class="text-sm">2024-2025. Algún derecho reservado.</p>
    <Iso class="size-6" />
  </div>
</footer>
