---
import Logo from "@/lib/assets/Logo.astro";
import Menu from "@/lib/assets/Menu.astro";

const { url } = Astro.request;
const isPodcast = url.includes("podcast");
---

<header class="absolute left-0 top-0 z-50 flex w-full justify-center">
  <nav class="flex w-full items-center justify-between text-gray-50 lg:px-14">
    <a href="/" class="p-6 z-10">
      <Logo class="w-14 lg:w-20" />
      <span class="sr-only">www.kncelados.com</span>
    </a>

    <ul
      class="absolute top-0 left-full h-screen right-0 bg-black/70 backdrop-blur px-4 lg:static flex flex-col lg:flex-row [&_a]:px-6 [&_a]:py-4 [&_a]:uppercase [&_a]:transition-colors hover:[&_a]:text-knred"
    >
      <li>
        <a href="/podcast">Podcast</a>
      </li>
      <li>
        <a href="/#knc-shorts">KNC Shorts</a>
      </li>
      <li>
        <a href="/#nosotros">Nosotros</a>
      </li>
      <li>
        <a href="/#colabora">Colabora</a>
      </li>
      <li>
        <a href="/tienda">Tienda</a>
      </li>
    </ul>

    <button class="p-6 lg:hidden z-10"><Menu class="size-8" /></button>
  </nav>
</header>
