---
import Logo from "@/lib/assets/Logo.astro";
import Menu from "@/lib/assets/Menu.astro";

const { pathname } = Astro.url;
const isStore = pathname.startsWith("/tienda");
---

<header class="fixed top-0 left-0 z-50 flex w-full justify-center lg:absolute">
  <nav class="flex w-full items-center justify-between text-gray-50 lg:px-14">
    <a href="/" class="z-10 p-6">
      <Logo class="w-14 lg:w-20" />
      <span class="sr-only">kncelados</span>
    </a>

    <ul
      id="nav-links"
      class:list={[
        `pointer-events-none fixed inset-0 flex flex-col pt-36 opacity-0 transition-all duration-500 lg:pointer-events-auto lg:static lg:flex-row lg:bg-transparent lg:bg-none lg:pt-0 lg:opacity-100`,
        isStore && "bg-white",
      ]}
    >
      <li class="flex">
        <a
          href="/"
          class:list={[
            "hover:text-knc-red w-full px-6 py-4 text-center text-2xl uppercase transition-colors lg:w-auto lg:border-none lg:text-base",
            isStore && "text-knc-dark",
          ]}
        >
          Inicio
        </a>
      </li>

      <li class="flex">
        <a
          href="/podcast"
          class:list={[
            "hover:text-knc-red w-full px-6 py-4 text-center text-2xl uppercase transition-colors lg:w-auto lg:border-none lg:text-base",
            isStore && "text-knc-dark",
          ]}
        >
          Podcast
        </a>
      </li>

      <li class="flex">
        <a
          href="/shorts"
          class:list={[
            "hover:text-knc-red w-full px-6 py-4 text-center text-2xl uppercase transition-colors lg:w-auto lg:border-none lg:text-base",
            isStore && "text-knc-dark",
          ]}
        >
          Shorts
        </a>
      </li>

      <li class="flex">
        <a
          href="/tienda"
          class:list={[
            "hover:text-knc-red w-full px-6 py-4 text-center text-2xl uppercase transition-colors lg:w-auto lg:border-none lg:text-base",
            isStore && "text-knc-dark",
          ]}
        >
          Tienda
        </a>
      </li>

      <li class="flex">
        <a
          href="/contacto"
          class:list={[
            "hover:text-knc-red w-full px-6 py-4 text-center text-2xl uppercase transition-colors lg:w-auto lg:border-none lg:text-base",
            isStore && "text-knc-dark",
          ]}
        >
          Contacto
        </a>
      </li>
    </ul>

    <button id="nav-btn" class="z-10 p-6 transition-all lg:hidden">
      <Menu class:list={["size-8", isStore && "text-knc-dark"]} />
      <span class="sr-only">Menú</span>
    </button>
  </nav>
</header>

<style>
  .visible {
    opacity: 1;
    pointer-events: all;
  }

  .active {
    rotate: 90deg;
  }
</style>

<script>
  function init_nav() {
    const navLinks = document.querySelector("#nav-links");
    const navBtn = document.querySelector("#nav-btn");

    if (!navLinks || !navBtn) return;

    const toggleNav = () => {
      navLinks.classList.toggle("visible");
      navBtn.classList.toggle("active");
    };

    navBtn.addEventListener("click", toggleNav);
    navLinks.addEventListener("click", toggleNav);
  }

  init_nav();
</script>
