---
import Logo from "@/lib/assets/Logo.astro";

const { url } = Astro.request;
const isPodcast = url.includes("podcast");
---

<header class="absolute left-0 top-0 z-50 flex w-full justify-center">
  <nav
    class:list={[
      "flex w-full items-center justify-center py-4 md:justify-between",
      isPodcast && "text-gray-50",
      isPodcast ? "px-20" : "max-w-6xl px-5",
    ]}
  >
    <a href="/">
      <Logo class="w-20" />
      <span class="sr-only">www.kncelados.com</span>
    </a>

    <ul
      class="hidden px-4 md:flex [&_a]:px-6 [&_a]:py-4 [&_a]:uppercase [&_a]:transition-colors hover:[&_a]:text-knred"
    >
      <li>
        <a href="/#podcast">Podcast</a>
      </li>
      <li>
        <a href="/#knc-shorts">KNC Shorts</a>
      </li>
      <li>
        <a href="/#nosotros">Nosotros</a>
      </li>
      <li>
        <a href="/#colabora">Colabora</a>
      </li>
      <li>
        <a href="/tienda">Tienda</a>
      </li>
    </ul>
  </nav>
</header>
