---
import Logo from "@/icons/Logo.astro";
---

<header class="fixed left-0 top-0 z-50 flex w-full justify-center">
  <nav class="flex w-full max-w-6xl justify-between items-center px-5 py-4 font-title">
    <a href="/">
      <Logo class="w-24" />
    </a>

    <ul class="flex px-4 font-title font-medium">
      <li>
        <a
          class="px-6 py-4 transition-colors hover:text-knred"
          href="#bienvenidos">INICIO</a
        >
      </li>
      <li>
        <a
          class="px-6 py-4 transition-colors hover:text-knred"
          href="#ultimos-videos">ÚLTIMOS VIDEOS</a
        >
      </li>
      <li>
        <a class="px-6 py-4 transition-colors hover:text-knred" href="#redes"
          >REDES</a
        >
      </li>
      <li>
        <a class="px-6 py-4 transition-colors hover:text-knred" href="#nosotros"
          >NOSOTROS</a
        >
      </li>
      <li>
        <a
          class="px-6 py-4 transition-colors hover:text-knred"
          href="#di-la-tuya">DI LA TUYA</a
        >
      </li>
    </ul>
  </nav>
</header>
