<section
  id="proximo-capitulo"
  class="flex w-full max-w-5xl flex-col items-center justify-center gap-6 text-gray-50 mt-20"
>
  <h2 class="text-4xl font-medium">Próximo capítulo</h2>

  <div
    class="flex justify-center gap-2 [&_p]:text-lg [&_p]:uppercase [&_span]:text-7xl [&_span]:font-extrabold"
  >
    <div class="flex flex-col items-center">
      <span>00</span>
      <p>días</p>
    </div>
    <span>:</span>
    <div class="flex flex-col items-center">
      <span>00</span>
      <p>horas</p>
    </div>
    <span>:</span>
    <div class="flex flex-col items-center">
      <span>00</span>
      <p>minutos</p>
    </div>
    <span>:</span>
    <div class="flex flex-col items-center">
      <span>00</span>
      <p>segundos</p>
    </div>
  </div>
</section>
