---
const { productId } = Astro.props;
---

<div id="product-component" class="w-full max-w-6xl"></div>

<style is:inline>
  iframe {
    max-width: none !important;
  }
</style>

<script define:vars={{ productId }} is:inline>
  /*<![CDATA[*/
  (function () {
    var scriptURL =
      "https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js";
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }
    function loadScript() {
      var script = document.createElement("script");
      script.async = true;
      script.src = scriptURL;
      (
        document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]
      ).appendChild(script);
      script.onload = ShopifyBuyInit;
    }
    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: "j1geya-ni.myshopify.com",
        storefrontAccessToken: "3faa61063d14a1a5843c56309d8de76e",
      });
      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent("product", {
          id: productId,
          node: document.getElementById("product-component"),
          moneyFormat: "%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D",
          options: {
            product: {
              styles: {
                product: {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-bottom": "50px",
                  },
                  "text-align": "left",
                },
                title: {
                  "font-size": "32px",
                  color: "#050a10",
                },
                button: {
                  "font-weight": "bold",
                  "font-size": "16px",
                  "padding-top": "16px",
                  "padding-bottom": "16px",
                  ":hover": {
                    "background-color": "#cf2c1d",
                  },
                  "background-color": "#e63120",
                  ":focus": {
                    "background-color": "#cf2c1d",
                  },
                  "border-radius": "12px",
                },
                quantityInput: {
                  width: "60px",
                  "font-size": "16px",
                  "padding-top": "16px",
                  "padding-bottom": "16px",
                },
                price: {
                  "font-size": "26px",
                  color: "#060d14",
                },
                compareAt: {
                  "font-size": "22.099999999999998px",
                  color: "#060d14",
                },
                unitPrice: {
                  "font-size": "22.099999999999998px",
                  color: "#060d14",
                },
                description: {
                  color: "#060d14",
                },
              },
              layout: "horizontal",
              contents: {
                img: false,
                imgWithCarousel: true,
                button: false,
                buttonWithQuantity: true,
                description: true,
              },
              width: "100%",
              text: {
                button: "Añadir al carrito",
              },
            },
            productSet: {
              styles: {
                products: {
                  "@media (min-width: 601px)": {
                    "margin-left": "-20px",
                  },
                },
              },
            },
            modalProduct: {
              contents: {
                img: false,
                imgWithCarousel: true,
                button: false,
                buttonWithQuantity: true,
              },
              styles: {
                product: {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0px",
                    "margin-bottom": "0px",
                  },
                },
                button: {
                  "font-weight": "bold",
                  "font-size": "16px",
                  "padding-top": "16px",
                  "padding-bottom": "16px",
                  ":hover": {
                    "background-color": "#cf2c1d",
                  },
                  "background-color": "#e63120",
                  ":focus": {
                    "background-color": "#cf2c1d",
                  },
                  "border-radius": "12px",
                },
                quantityInput: {
                  "font-size": "16px",
                  "padding-top": "16px",
                  "padding-bottom": "16px",
                },
                title: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "bold",
                  "font-size": "26px",
                  color: "#4c4c4c",
                },
                price: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "18px",
                  color: "#4c4c4c",
                },
                compareAt: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "15.299999999999999px",
                  color: "#4c4c4c",
                },
                unitPrice: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "15.299999999999999px",
                  color: "#4c4c4c",
                },
                description: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "14px",
                  color: "#4c4c4c",
                },
              },
              text: {
                button: "Add to cart",
              },
            },
            option: {},
            cart: {
              styles: {
                button: {
                  "font-weight": "bold",
                  "font-size": "16px",
                  "padding-top": "16px",
                  "padding-bottom": "16px",
                  ":hover": {
                    "background-color": "#cf2c1d",
                  },
                  "background-color": "#e63120",
                  ":focus": {
                    "background-color": "#cf2c1d",
                  },
                  "border-radius": "12px",
                },
                title: {
                  color: "#060d14",
                },
                header: {
                  color: "#060d14",
                },
                lineItems: {
                  color: "#060d14",
                },
                subtotalText: {
                  color: "#060d14",
                },
                subtotal: {
                  color: "#060d14",
                },
                notice: {
                  color: "#060d14",
                },
                currency: {
                  color: "#060d14",
                },
                close: {
                  color: "#060d14",
                  ":hover": {
                    color: "#060d14",
                  },
                },
                empty: {
                  color: "#060d14",
                },
                noteDescription: {
                  color: "#060d14",
                },
                discountText: {
                  color: "#060d14",
                },
                discountIcon: {
                  fill: "#060d14",
                },
                discountAmount: {
                  color: "#060d14",
                },
              },
              text: {
                title: "Tu pedido",
                total: "Subtotal",
                empty: "Tu carrito está vacío",
                notice:
                  "Los códigos de envío y descuento se agregan al momento del pago.",
                button: "Finalizar pago",
              },
            },
            toggle: {
              styles: {
                toggle: {
                  "font-weight": "bold",
                  "background-color": "#e63120",
                  ":hover": {
                    "background-color": "#cf2c1d",
                  },
                  ":focus": {
                    "background-color": "#cf2c1d",
                  },
                },
                count: {
                  "font-size": "16px",
                },
              },
            },
            lineItem: {
              styles: {
                variantTitle: {
                  color: "#060d14",
                },
                title: {
                  color: "#060d14",
                },
                price: {
                  color: "#060d14",
                },
                fullPrice: {
                  color: "#060d14",
                },
                discount: {
                  color: "#060d14",
                },
                discountIcon: {
                  fill: "#060d14",
                },
                quantity: {
                  color: "#060d14",
                },
                quantityIncrement: {
                  color: "#060d14",
                  "border-color": "#060d14",
                },
                quantityDecrement: {
                  color: "#060d14",
                  "border-color": "#060d14",
                },
                quantityInput: {
                  color: "#060d14",
                  "border-color": "#060d14",
                },
              },
            },
          },
        });
      });
    }
  })();
  /*]]>*/
</script>
