---
import FollowLogo from "./FollowLogo.astro";
import Characters from "./Characters.astro";

import { sentences } from "@/lib/sentences";
---

<section
  id="bienvenidos"
  class="relative flex flex-col gap-8 justify-center items-center h-screen bg-gradient-to-tr from-knred to-knred/90 w-full overflow-hidden p-4"
>
  <span
    class="absolute inset-0 bg-[url('/trama.svg')] bg-repeat-x bg-cover md:bg-contain opacity-10 rotate-180"
  ></span>

  <header
    class="max-w-6xl flex flex-col gap-2 items-center w-full -mt-40 md:-mt-[20%]"
  >
    <FollowLogo />

    <article class="flex flex-col items-center gap-8 p-4">
      <h1
        class="font-title whitespace-nowrap text-[clamp(30px,8vh,80px)] md:text-[clamp(60px,10vh,120px)] text-center z-10 -rotate-90 md:rotate-0 scale-100 md:scale-125"
      >
        el <del class="text-white">fake</del>pod
      </h1>
      <p
        class="hidden md:flex max-w-2xl text-center text-2xl font-semibold bg-white py-4 px-8 -skew-x-6 shadow-[10px_10px_0_0_cyan]"
      >
        <span class="skew-x-6">{sentences[0]}</span>
      </p>
    </article>
  </header>

  <Characters />
</section>
