---
import Card from "@/components/CardTiktok.astro";
import { videos } from "@/lib/videos";
---

<section id="ultimos-videos" class="flex flex-col gap-8 items-center max-w-7xl px-4 py-32">
  <h2 class="text-4xl md:text-6xl font-title text-center">
    Últimos <span class="text-knred">videos</span>
  </h2>

  <article class="flex flex-wrap gap-2 md:gap-8">
    {videos.map((video) => <Card {...video} />)}
  </article>

  <a href="https://www.tiktok.com/@kncelados/" class="px-12 font-title text-xl py-3 shadow-xl hover:bg-knred/70 transition-colors text-white bg-knred rounded-xl" target="_blank" rel="noreferrer">VER TODOS</a>
</section>
