---
import Logo from "@/icons/Logo.astro";
import { sentences } from "@/lib/sentences";
---

<section
  id="bienvenidos"
  class="relative flex flex-col gap-8 justify-center items-center h-screen bg-gradient-to-tr from-knred to-knred/90 w-full overflow-hidden p-4"
>
  <span
    class="absolute inset-0 bg-[url('/trama.svg')] bg-repeat-x bg-cover md:bg-contain opacity-10 rotate-180"
  ></span>

  <header
    class="max-w-6xl flex flex-col gap-2 items-center w-full -mt-10 md:-mt-[20%]"
  >
    <span id="follow" class="hidden md:flex absolute w-48">
      <Logo />
    </span>

    <article class="flex flex-col items-center gap-8 p-4">
      <h1 class="font-title whitespace-nowrap text-8xl md:text-9xl text-center z-10 -rotate-90 md:rotate-0 scale-100 md:scale-125">
        el <del class="text-white">fake</del>pod
      </h1>
      <!-- <p
        class="hidden md:flex max-w-lg text-center text-xl md:text-3xl font-semibold bg-white py-1 px-4 -skew-x-6 shadow-[10px_10px_0_0_cyan]"
      >
        {sentences[0]}
      </p> -->
    </article>
  </header>

  <picture id="joz" class="absolute bottom-0 left-[-45%] md:left-[-15%]">
  </picture>

  <picture
    id="rup"
    class="absolute -bottom-10 md:-bottom-20 left-[-15%] md:left-[14%] z-20"
  ></picture>

  <picture
    id="dani"
    class="absolute -bottom-10 md:-bottom-20 right-[-15%] md:right-[14%] z-10"
  >
  </picture>

  <picture id="ander" class="absolute bottom-0 right-[-45%] md:right-[-15%]"
  ></picture>
</section>

<script>
  const welcome = document.querySelector("#bienvenidos");
  const follow = document.querySelector("#follow") as HTMLElement;

  welcome?.addEventListener("mousemove", (ev) => {
    const { pageX, pageY } = ev as MouseEvent;
    const { offsetWidth, offsetHeight } = follow;

    setTimeout(() => {
      follow.style.top = `${pageY - offsetHeight / 2}px`;
      follow.style.left = `${pageX - offsetWidth / 2}px`;
    }, 150);
  });
</script>

<style>
  #follow {
    animation: rotate 5s linear infinite;
  }

  picture {
    width: 45%;
    min-width: 400px;
    aspect-ratio: 1.4861;
    background-size: 200%;
    background-position: 0 0;
    filter: drop-shadow(10px -5px 0 white) drop-shadow(-10px -5px 0 white);
  }

  picture:hover {
    transform: scale(1.2);
    transform-origin: bottom;
    animation: gif 2s steps(1, end) infinite;
    transition: 150ms;
    z-index: 90;
  }

  #rup {
    background-image: url("/rup-sprite.png");
  }
  #joz {
    background-image: url("/joz-sprite.png");
  }
  #dani {
    background-image: url("/dani-sprite.png");
  }
  #ander {
    background-image: url("/ander-sprite.png");
  }

  @keyframes gif {
    25% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 100%;
    }
    75% {
      background-position: 100% 100%;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
