---
import slugify from "slugify";

const { data } = Astro.props;
const { title, image } = data;
const slug = slugify(title).toLowerCase();
---

<article
  class="aspect-video w-2/3 shrink-0 snap-start transition-all duration-300 lg:w-96 lg:hover:w-[30rem]"
>
  <a href={`/podcast/${slug}`}>
    <picture>
      <img src={image.url} alt={title} />
    </picture>
  </a>
</article>
