---
import VideoHeader from "@/components/VideoHeader.astro";
import VideoSlider from "@/components/VideoSlider.astro";
import Layout from "@/layouts/Layout.astro";
import episodes from "@/lib/episodes.json";

const lastEpisode = episodes[0][0];
---

<Layout title="Podcast" description="Podcast">
  <div class="bg-black text-gray-50">
    <div class="bg-knc-blue/40 pb-10">
      <VideoHeader data={lastEpisode} />
      {episodes.map((season) => <VideoSlider data={season} />)}
    </div>
  </div>
</Layout>
