<section
  id="mystery-book"
  class="flex w-full max-w-6xl flex-col items-center justify-center gap-6 px-4 pt-28 text-center lg:flex-row"
>
  <img
    src="/libro-kncelados-mystery.webp"
    alt="Kncelados Mystery"
    loading="lazy"
    decoding="async"
    class=""
  />
  <div class="flex flex-col items-center">
    <h2 class="text-center text-5xl lg:text-7xl">Kncelados Mystery</h2>

    <p class="mt-2 mb-8 max-w-5xl text-center text-lg lg:text-2xl">
      Ya esta en preventa nuestro libro. Un libro de acertijos que esconde más
      de lo que aparenta...
    </p>

    <a
      href="https://amzn.eu/d/j9PeBIn"
      target="_blank"
      class="bg-knc-red min-w-48 rounded-xl px-8 py-3 transition-transform hover:scale-110"
    >
      Precompra aquí
    </a>
  </div>
</section>

<section
  class="mt-10 mb-28 flex w-full max-w-4xl flex-col items-center justify-center gap-2 rounded-xl border-2 border-dashed border-white/10 px-4 py-8 text-center"
>
  <p class="mt-2 mb-8 max-w-3xl text-center text-lg lg:text-xl">
    Y si ya has hecho la precompra y te gustaría tener un vale regalo reshulon,
    puedes descargarlo aquí
  </p>

  <div class="flex flex-wrap justify-center gap-4">
    <a
      href="/book/KNC_Mystery_vale_CAST.jpg"
      download="KNC_Mystery_vale_CAST.jpg"
      class="bg-knc-blue min-w-48 rounded-xl px-8 py-3 transition-transform hover:scale-110"
    >
      Ver. castellano
    </a>
    <a
      href="/book/KNC_Mystery_vale_CAT.jpg"
      download="KNC_Mystery_vale_CAT.jpg"
      class="bg-knc-blue min-w-48 rounded-xl px-8 py-3 transition-transform hover:scale-110"
    >
      Ver. catalán
    </a>
  </div>
</section>
