---
import { YouTube } from "@astro-community/astro-embed-youtube";
import { last_episode } from "@/lib/seasons";

import NextEpisode from "@/components/NextEpisode.astro";
---

<section
  id="ultimo-episodio"
  class="z-40 flex w-full flex-col items-center justify-center gap-6 bg-knc-blue py-48 px-4"
>
  <!-- <h2 class="z-10 text-center text-4xl text-gray-50 lg:text-6xl">
    Último episodio
  </h2>

  <div class="relative flex w-full justify-center">
    <YouTube id={last_episode.id} class="z-10 aspect-video w-full rounded-xl" />
    <YouTube
      id={last_episode.id}
      class="absolute aspect-video w-full rounded-xl blur-3xl"
    />
  </div> -->

  <NextEpisode />
</section>

<style>
  section {
    clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px), 0% 100%);
  }
</style>