---
import NextEpisode from "@/components/NextEpisode.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section
  id="ultimo-episodio"
  class="z-50 flex w-full flex-col items-center justify-center gap-6 bg-knblue py-48"
>
  <h2 class="z-10 text-center text-4xl text-gray-50 md:text-6xl">
    Último episodio
  </h2>

  <div class="relative flex w-full justify-center px-6">
    <YouTube id="94MaHry1ptA" class="z-10 aspect-video w-full rounded-xl" />
    <YouTube
      id="94MaHry1ptA"
      class="absolute aspect-video w-full rounded-xl blur-3xl"
    />
  </div>

  <NextEpisode />
</section>

<style>
  section {
    clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px), 0% 100%);
  }
</style>
