---
import { YouTube } from "@astro-community/astro-embed-youtube";
import { episodes } from "@/lib/videos";
---

<section
  id="podcast"
  class="flex w-full max-w-5xl flex-col items-center justify-center gap-6 px-4 pt-24 md:pt-48"
>
  <h2 class="text-center text-4xl md:text-6xl">El podcast</h2>

  {
    episodes.map((season, ind) => (
      <details
        open={ind === episodes.length - 1}
        name="season"
        class="w-full border-b border-knblue py-4 open:border-none"
      >
        <summary class="cursor-pointer p-2 text-xl">
          Temporada {ind + 1}
        </summary>
        <ul
          data-season={ind}
          class="grid w-full grid-cols-1 gap-4 md:grid-cols-3"
        >
          {season.map(({ id }) => (
            <li>
              <YouTube id={id} class="aspect-video w-full rounded-xl" />
            </li>
          ))}
        </ul>
      </details>
    ))
  }
</section>
