---
import episodes from "@/lib/episodes.json";

const seconds = "30s";
const gap = "1rem";
---

<section
  id="podcast"
  class="flex w-full flex-col items-center justify-center gap-6 pt-24"
>
  <h2 class="max-w-5xl px-4 text-center text-4xl lg:text-6xl">El podcast</h2>

  <p class="mb-8 mt-2 max-w-3xl px-4 text-center text-base lg:text-xl">
    Si te preguntas d칩nde ver el podcast de Kncelados, est치s en el lugar
    adecuado. Tanto en esta p치gina web, como en nuestro canal de YouTube
    encontrar치s todos los episodios.
  </p>

  <div class="relative flex w-full overflow-hidden">
    {
      episodes.map((season) => (
        <>
          <ul class="flex shrink-0 pb-12">
            {season.map(({ title, image }) => (
              <img src={image} alt={title} class="w-60" />
            ))}
          </ul>
          <ul class="flex shrink-0 pb-12">
            {season.map(({ title, image }) => (
              <img src={image} alt={title} class="w-60" />
            ))}
          </ul>
        </>
      ))
    }
  </div>
</section>

<style define:vars={{ seconds, gap }}>
  main {
    gap: var(--gap);
  }

  ul {
    animation: marquee var(--seconds) linear infinite;
    gap: var(--gap);
  }

  .reverse {
    animation-direction: reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
