---
import { seasons } from "@/lib/utils";
---

<section
  id="podcast"
  class="flex w-full flex-col items-center gap-4 overflow-x-clip pt-20 text-center lg:py-24"
>
  {
    seasons.map((season, i) => (
      <div class="wrapper flex max-w-[1440px] flex-col gap-4 md:gap-0">
        {i !== 0 && (
          <div class="covers flex shrink-0 gap-5 md:mt-4">
            <ul class="flex shrink-0 gap-2 md:gap-5">
              {season?.map(({ title, image }) => (
                <li>
                  <img
                    src={image}
                    alt={title}
                    width="228"
                    height="128"
                    loading="lazy"
                    decoding="async"
                    class="h-[64px] w-[114px] md:h-[128px] md:w-[228px]"
                  />
                </li>
              ))}
            </ul>

            <ul class="flex shrink-0 gap-2 md:gap-5">
              {season?.map(({ title, image }) => (
                <li>
                  <img
                    src={image}
                    alt={title}
                    width="228"
                    height="128"
                    loading="lazy"
                    decoding="async"
                    class="h-[64px] w-[114px] md:h-[128px] md:w-[228px]"
                  />
                </li>
              ))}
            </ul>
          </div>
        )}

        {i === 1 && (
          <div class="title flex shrink-0">
            <h2 class="px-4 text-[4rem] leading-none !text-nowrap whitespace-nowrap opacity-10 md:inline md:text-[12rem]">
              El podcast
            </h2>
            <h2 class="px-4 text-center text-[4rem] leading-none !text-nowrap whitespace-nowrap md:text-[12rem]">
              El podcast
            </h2>
            <h2 class="px-4 text-[4rem] leading-none !text-nowrap whitespace-nowrap opacity-10 md:inline md:text-[12rem]">
              El podcast
            </h2>
          </div>
        )}
      </div>
    ))
  }

  <p class="mt-12 max-w-4xl self-center px-4 text-lg md:mt-24 lg:text-2xl">
    Si te preguntas d칩nde ver el podcast de Kncelados, est치s en el lugar
    adecuado. Tanto en esta p치gina web, como en nuestro canal de YouTube
    encontrar치s todos los episodios.
  </p>

  <a
    href="/podcast"
    class="bg-knc-red mt-10 min-w-48 self-center rounded-xl px-8 py-3 transition-transform hover:scale-110"
  >
    Ver podcast
  </a>
</section>

<style is:global>
  #podcast .wrapper {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 25%,
      black 75%,
      transparent
    );
  }
</style>

<script>
  import { animate, scroll } from "motion";

  const { innerWidth } = window;

  const covers = document.querySelectorAll(
    "#podcast .covers"
  ) as NodeListOf<HTMLElement>;
  const title = document.querySelector("#podcast .title") as HTMLElement;

  const titleAnimation = animate(
    title,
    { transform: ["translateX(0%)", "translateX(-100%)"] },
    { ease: "linear" }
  );

  const coversAnimation = animate(
    covers,
    { transform: ["translateX(-100%)", "translateX(0%)"] },
    { ease: "linear" }
  );

  if (innerWidth > 768) {
    scroll(titleAnimation, {
      target: title,
      offset: ["start -20%", "end 120%"],
    });
    scroll(coversAnimation, {
      target: title,
      offset: ["start -40%", "end 140%"],
    });
  } else {
    scroll(titleAnimation, {
      target: title,
      offset: ["start 50%", "end 380%"],
    });
    scroll(coversAnimation, {
      target: title,
      offset: ["start -40%", "end 140%"],
    });
  }
</script>
