---
import "core-js/actual/object/group-by";
import episodes from "@/lib/episodes.json";

const seasons_object = Object.groupBy(episodes, ({ season }) => season);
const seasons = Object.values(seasons_object);

const seconds = "60s";
const gap = "1rem";
---

<section
  id="podcast"
  class="flex w-full flex-col items-center justify-center pt-20 text-center lg:py-24"
>
  <h2 class="max-w-5xl px-4 text-5xl lg:text-7xl">El podcast</h2>

  <p class="mt-6 max-w-4xl px-4 text-lg lg:text-2xl">
    Si te preguntas d칩nde ver el podcast de Kncelados, est치s en el lugar
    adecuado. Tanto en esta p치gina web, como en nuestro canal de YouTube
    encontrar치s todos los episodios.
  </p>

  <a
    href="/podcast"
    class="mt-10 min-w-48 rounded-xl bg-knc-red px-8 py-3 transition-transform hover:scale-110"
  >
    Ver podcast
  </a>

  <div class="relative mt-16 origin-top lg:scale-150">
    <div
      class="absolute left-[16%] top-0 z-10 hidden h-full w-1/4 bg-gradient-to-r from-knc-dark from-20% via-knc-dark/90 to-transparent lg:flex"
    >
    </div>
    <div
      class="absolute right-[16%] top-0 z-10 hidden h-full w-1/4 bg-gradient-to-l from-knc-dark from-20% via-knc-dark/90 to-transparent lg:flex"
    >
    </div>

    {
      seasons.map((season, i) => (
        <span class="relative mt-4 flex w-full overflow-hidden">
          <ul class:list={["flex shrink-0", i % 2 && "reverse"]}>
            {season?.map(({ title, image }) => (
              <li>
                <img
                  src={image}
                  alt={title}
                  width="240"
                  height="135"
                  loading="lazy"
                  decoding="async"
                  class="w-60"
                />
              </li>
            ))}
          </ul>

          <ul class:list={["flex shrink-0", i % 2 && "reverse"]}>
            {season?.map(({ title, image }) => (
              <li>
                <img
                  src={image}
                  alt={title}
                  width="240"
                  height="135"
                  loading="lazy"
                  decoding="async"
                  class="w-60"
                />
              </li>
            ))}
          </ul>
        </span>
      ))
    }
  </div>
</section>

<style define:vars={{ seconds, gap }}>
  span {
    gap: var(--gap);
  }

  ul {
    animation: marquee var(--seconds) linear infinite;
    gap: var(--gap);
  }

  .reverse {
    animation-direction: reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
