---
import { YouTube } from "@astro-community/astro-embed-youtube";
import { episodes } from "@/lib/seasons";
import { collections } from "@/lib/collentions";
---

<section
  id="podcast"
  class="flex w-full max-w-5xl flex-col items-center justify-center gap-6 px-4 pt-24"
>
  <h2 class="text-center text-4xl md:text-6xl">El podcast</h2>

  <p class="mb-8 mt-2 max-w-3xl text-center text-base md:text-xl">
    Si te preguntas d칩nde ver el podcast de Kncelados, est치s en el lugar
    adecuado. Tanto en esta p치gina web, como en nuestro canal de YouTube
    encontrar치s todos los episodios.
  </p>

  {
    episodes.map((season, ind) => (
      <details
        open={ind === episodes.length - 1}
        name="seasons"
        class="w-full border-b border-knblue py-4 open:border-none"
      >
        <summary class="cursor-pointer p-2 text-xl">
          Temporada {ind + 1}
        </summary>
        <ul class="grid w-full grid-cols-1 gap-4 md:grid-cols-3">
          {season.map(({ id }) => (
            <li>
              <YouTube id={id} class="aspect-video w-full rounded-xl" />
            </li>
          ))}
        </ul>
      </details>
    ))
  }

  <details
    name="studios"
    class="w-full border-b border-knblue py-4 open:border-none"
  >
    <summary class="cursor-pointer p-2 text-xl">Recopilaciones</summary>
    <ul class="grid w-full grid-cols-1 gap-4 md:grid-cols-3">
      {
        collections.map((id) => (
          <li>
            <YouTube id={id} class="aspect-video w-full rounded-xl" />
          </li>
        ))
      }
    </ul>
  </details>
</section>
