<section
  id="knc-shorts"
  class="mt-48 flex w-full flex-col items-center justify-center gap-6 bg-knc-blue px-4 py-48 text-center"
>
  <h2 class="text-center text-4xl lg:text-6xl">KNC Shorts</h2>

  <p class="mb-8 mt-2 max-w-3xl text-center text-base lg:text-xl">
    Y cuando nos da la vida y la gana, hacemos cortos, y como somos muy
    creativos los llamamos KNC Shorts. No es KN coches, pero por algo se
    empieza.
  </p>
</section>

<style>
  section {
    clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px), 0% 100%);
  }
</style>
