---
import { YouTube } from "@astro-community/astro-embed-youtube";
import { shorts } from "@/lib/shorts";
---

<section
  id="knc-shorts"
  class="flex w-full max-w-5xl flex-col items-center justify-center gap-6 px-4 pt-24"
>
  <h2 class="text-center text-4xl lg:text-6xl">KNC Shorts</h2>

  <p class="mb-8 mt-2 max-w-3xl text-center text-base lg:text-xl">
    Y cuando nos da la vida y la gana, hacemos cortos, y como somos muy
    creativos los llamamos KNC Shorts. No es KN coches, pero por algo se
    empieza.
  </p>

  <details
    open
    name="studios"
    class="w-full border-b border-knc-blue py-4 open:border-none"
  >
    <summary class="cursor-pointer p-2 text-xl">Cortos</summary>
    <ul class="grid w-full grid-cols-1 gap-4 lg:grid-cols-3">
      {
        shorts.map((id) => (
          <li>
            <YouTube id={id} class="aspect-video w-full rounded-xl" />
          </li>
        ))
      }
    </ul>
  </details>
</section>
