<section
  id="welcome"
  class="flex min-h-screen w-full max-w-5xl flex-col items-center justify-center"
>
  <h1 class="font-title text-9xl font-semibold">¿y si lo doblas?</h1>
  <p class="mt-6 max-w-2xl text-center text-xl">
    Adéntrate en nuestro caos de risas con el fakepod más irreverente. Visita
    nuestro últimos videos conoce nuestro equipo sin filtros.
  </p>

  <div class="flex">
    <a
      href="#store"
      class="rounded-md bg-knred px-8 py-3 font-title font-semibold uppercase hover:scale-110"
      >KNC Store</a
    >
    <a href="#colabora">Colabora</a>
  </div>
</section>
