---
import { sentences } from "@/lib/sentences";
import episodes from "@/lib/episodes.json";

const last_season_index = episodes.length - 1;
const last_episode_index = episodes[last_season_index].length - 1;
const lastEpisode = episodes[last_season_index][last_episode_index];
const { title, image } = lastEpisode;
---

<section class="flex w-full flex-col items-center gap-8">
  <article
    class="relative flex h-[65vh] w-full flex-col items-center justify-end lg:h-[80vh]"
  >
    <img
      class="absolute size-full object-cover object-top"
      src={image.url}
      alt={title}
    />

    <span
      class="absolute inset-0 bg-gradient-to-b from-knc-dark via-transparent to-knc-dark"
    ></span>

    <span
      class="absolute inset-0 bg-gradient-to-r from-knc-dark from-35% to-transparent"
    ></span>

    <div
      class="z-20 flex w-full flex-col justify-center px-6 pb-6 lg:px-20 lg:pb-20"
    >
      <span class="max-w-3xl text-4xl lg:text-7xl">
        {sentences[Math.floor(Math.random() * sentences.length)]}
      </span>

      <h1 class="sr-only">Un podcast de tonterías varias</h1>

      <div class="mt-4 flex flex-wrap lg:mt-10">
        <a
          href="/podcast"
          class="rounded-xl bg-knc-red px-8 py-3 transition-transform hover:scale-110"
        >
          Ver último episodio
        </a>
        <a
          href="/contacto"
          target="_blank"
          class="px-8 py-3 transition-transform hover:scale-110"
        >
          ¿Eres sponsor?
        </a>
      </div>

      <p class="mt-6 max-w-4xl text-sm text-gray-300 lg:mt-12 lg:text-xl">
        Un podcast de tonterías varias. Quizá no aprendes nada, pero seguro que
        te ríes un rato. Dónde ver el podcast, quienes son estos Kncelados, todo
        esta aquí.
      </p>
    </div>
  </article>
</section>
