---
import Characters from "@/components/Characters.astro";
import { sentences } from "@/lib/sentences";
---

<section
  class="relative flex min-h-[85vh] w-full max-w-5xl flex-col items-center justify-center px-4"
>
  <span class="text-center text-4xl md:text-7xl">
    {sentences[Math.floor(Math.random() * sentences.length)]}
  </span>

  <h1 class="sr-only">Un podcast de tonterías varias</h1>

  <p class="mt-6 max-w-3xl text-center text-base md:text-xl">
    Un podcast de tonterías varias. Quizá no aprendes nada, pero seguro que te
    ríes un rato. Dónde ver el podcast, quienes son estos Kncelados, todo esta
    aquí.
  </p>

  <div class="mt-12 flex gap-0 md:gap-2">
    <a
      href="#ultimo-episodio"
      class="rounded-md bg-knred px-8 py-3 text-sm uppercase text-gray-100 transition-transform hover:scale-110 md:text-base"
    >
      Último episodio
    </a>
    <a
      href="#podcast"
      class="px-8 py-3 text-sm uppercase transition-transform hover:scale-110 md:text-base"
    >
      Podcast
    </a>
  </div>

  <Characters />
</section>
