<section id="welcome" class="flex flex-col min-h-screen items-center justify-center w-full max-w-5xl">
  <h1 class="font-title text-9xl">¿y si lo doblas?</h1>
  <p class="text-xl text-center max-w-2xl mt-6">
    Adéntrate en nuestro caos de risas con el fakepod más irreverente. Visita
    nuestro últimos videos conoce nuestro equipo sin filtros.
  </p>
</section>
