---
import Characters from "@/components/Characters.astro";
---

<section
  id="inicio"
  class="relative flex w-full max-w-5xl flex-col items-center justify-center min-h-[85vh]"
>
  <h1 class="text-center text-5xl md:text-9xl">¿y si lo doblas?</h1>
  <p class="mt-6 max-w-2xl text-center text-xl">
    Adéntrate en nuestro caos de risas con el podcast más irreverente. Visita
    nuestro últimos videos conoce nuestro equipo sin filtros.
  </p>

  <div class="mt-12 flex gap-2">
    <a
      href="#ultimo-episodio"
      class="rounded-md bg-knred px-8 py-3 uppercase transition-transform hover:scale-110"
    >
      Último episodio
    </a>
    <a
      href="#podcast"
      class="px-8 py-3 uppercase transition-transform hover:scale-110"
    >
      Temporadas
    </a>
  </div>

  <Characters />
</section>
