<section
  class="relative flex min-h-[90vh] w-full flex-col items-center justify-center gap-8"
>
  <img
    src="/kncelados-podcast.jpg"
    alt="Kncelados Podcast"
    class="absolute inset-0 -z-10 size-full object-cover object-[40%_30%] opacity-15"
  />
  <article
    class="flex w-full flex-col items-center justify-center px-6 pb-6 text-center lg:px-20 lg:pb-20"
  >
    <h1 class="mt-24 max-w-3xl text-5xl lg:text-8xl">
      Un podcast de tonterías varias
    </h1>

    <p class="mt-6 max-w-5xl text-lg text-gray-300 lg:text-2xl">
      Un podcast de tonterías varias. Quizá no aprendes nada, pero seguro que te
      ríes un rato. Dónde ver el podcast, quienes son estos Kncelados, todo esta
      aquí.
    </p>

    <div class="flex flex-wrap justify-center mt-10">
      <a
        href="/podcast"
        class="rounded-xl bg-knc-red px-8 py-3 transition-transform hover:scale-110"
      >
        Último episodio
      </a>
      <a
        href="/#nosotros"
        class="px-8 py-3 transition-transform hover:scale-110"
      >
        Nosotros
      </a>
    </div>
  </article>
</section>
