---
import VideoOverlay from "@/components/VideoOverlay.astro";
import PlayBig from "@/lib/assets/PlayBig.astro";
import { generateSlug, lastEpisode } from "@/lib/utils";

const slug = generateSlug(lastEpisode.title);
const lastEpisode_url = `podcast/${slug}`;
---

<section
  class="relative flex h-svh w-full flex-col items-center justify-center gap-8"
>
  <video
    class="absolute inset-0 -z-20 size-full object-cover"
    src="/hero-bg.mp4"
    playsinline
    autoplay
    muted
    loop
  >
  </video>

  <VideoOverlay />

  <a
    href={lastEpisode_url}
    class="flex flex-col items-center gap-4 rounded-full shadow-2xl backdrop-blur-2xl transition-transform duration-500 hover:scale-110"
    title="Ver el último episodio"
  >
    <PlayBig class="size-32" />
    <p class="sr-only">Ver el último episodio</p>
  </a>
</section>
