---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const storeCollection = await getCollection("store");
const availableTags = storeCollection.map((item) => item.data.tags).flat();
const uniqueTags = [...new Set(availableTags)];
---

<Layout
  title="Tienda"
  description="Proximamente en la tienda oficial KNC Store, podrás encontrar camisetas, tote bags, láminas, stickers, fondos de pantalla y más."
>
  <section
    class="text-knc-dark flex flex-1 flex-col items-center justify-center bg-white px-6 pt-[128px] pb-48"
  >
    <header
      class="flex w-full items-center justify-between border-t-2 border-black py-6"
    >
      <h1 class="text-2xl md:text-6xl lg:text-8xl">Kncelados store</h1>

      <select id="filter-select" class="capitalize md:p-6 md:text-xl">
        <option value="">Categoría</option>
        {uniqueTags.map((tag) => <option class="capitalize">{tag}</option>)}
      </select>
    </header>

    <ul
      class=`
        relative grid w-full grid-cols-2 border-t-2 border-black pt-2 md:grid-cols-3 lg:grid-cols-4
        before:absolute before:top-0 before:left-0 before:h-full before:w-0.5 before:bg-white
        after:absolute after:top-0 after:right-0 after:h-full after:w-0.5 after:bg-white
      `
    >
      {
        storeCollection.map((item) => (
          <li
            data-tags={item.data.tags}
            class="flex size-full flex-col justify-between border-x border-black p-2"
          >
            <img
              src={item.data.images[0]}
              alt={item.data.title}
              class="aspect-square w-full object-contain p-4"
            />

            <button class="flex w-full items-center justify-center bg-black p-2 text-white md:p-4 md:text-xl">
              Próximamente
            </button>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<script define:vars={{ uniqueTags }} is:inline>
  function init_filter() {
    const filterBtn = document.querySelector("#filter-select");
    const storeItems = document.querySelectorAll("[data-tags]");

    const filterItems = (tags) => {
      storeItems.forEach((item) => {
        const itemTags = item.dataset.tags.split(",");

        if (itemTags.includes(tags)) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }

        if (!tags) {
          item.classList.remove("hidden");
        }
      });
    };

    filterBtn.addEventListener("change", (e) => {
      filterItems(e.target.value);
    });
  }

  init_filter();
  document.addEventListener("astro:after-swap", init_filter);
</script>
