---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const storeCollection = await getCollection("store");
console.log(storeCollection);
---

<Layout
  title="Tienda"
  description="Proximamente en la tienda oficial KNC Store, podr치s encontrar camisetas, tote bags, l치minas, stickers, fondos de pantalla y m치s."
>
  <section
    class="text-knc-dark flex flex-1 flex-col items-center justify-center bg-white px-6 pt-[128px]"
  >
    <ul class="grid grid-cols-4 border-t-2 border-black pt-2">
      {
        storeCollection.map((item) => (
          <li class="size-full border-r border-black p-6 nth-[4n]:border-r-0">
            <img
              src={item.data.images[0]}
              alt={item.data.title}
              class="aspect-square w-full object-contain"
            />

            <button class="flex w-full items-center justify-center bg-black p-4 text-xl text-white">
              Pr칩ximamente
            </button>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
