---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Tienda"
  description="Proximamente en la tienda oficial KNC Store, podrás encontrar camisetas, tote bags, láminas, stickers, fondos de pantalla y más."
>
  <section
    class="text-knc-dark flex flex-1 flex-col items-center justify-center bg-white bg-[url('pattern.png')] px-6 py-44"
  >
    <img
      src="store/se-vienen-cositas.png"
      alt="Se vienen cositas"
      class="size-96 max-w-full object-contain"
    />
  </section>
</Layout>
