---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="KNC Store | Tienda oficial"
  description="Proximamente en la tienda oficial KNC Store, podrás encontrar camisetas, tote bags, láminas, stickers, fondos de pantalla y más."
>
  <section
    class="flex h-screen flex-col items-center justify-center gap-8 bg-knred px-4"
  >
    <h1 class="text-4xl font-bold lg:text-8xl">Proximamente</h1>

    <a
      href="/"
      class="rounded-md bg-knblue px-8 py-3 text-sm uppercase text-gray-50 transition-transform hover:scale-110 lg:text-base"
    >
      VOLVER
    </a>
  </section>
</Layout>
