---
import Layout from "@/layouts/Layout.astro";
import { getStore } from "@/lib/services/store";

const store = await getStore();
---

<Layout
  title="Tienda"
  description="Proximamente en la tienda oficial KNC Store, podrás encontrar camisetas, tote bags, láminas, stickers, fondos de pantalla y más."
>
  <section
    class="flex min-h-screen flex-col items-center justify-center gap-8 bg-knc-blue px-4"
  >
    <h1 class="text-4xl font-bold lg:text-8xl">Proximamente</h1>

    <a
      href="/"
      class="rounded-md bg-knc-red px-8 py-3 text-sm uppercase text-gray-50 transition-transform hover:scale-110 lg:text-base"
    >
      VOLVER
    </a>

    <!-- <h1 class="text-4xl font-bold lg:text-8xl">Tienda</h1>

    <ul class="grid max-w-6xl grid-cols-3 gap-4">
      {
        store.map((product) => (
          <li>
            <a href={`/tienda/${product.id}`}>
              <img
                src={product.previewUrl}
                alt={product.title}
                class="w-full rounded-md"
              />
              <h2 class="text-2xl font-bold">{product.title}</h2>
            </a>
          </li>
        ))
      }
    </ul> -->
  </section>
</Layout>
